{% extends 'mainapp/base.html' %}
{% load static %}

   {% block js %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/basket_scripts.js' %}"></script>
   {% endblock %}

{% block content %}
<div class="body">
    <hr>
    <h1>Ваш заказ</h1>

    <div>
        <table class="orderTable">
         <tr>
            <td>Наименование</td>
            <td>Количество</td>
            <td>Цена</td>
         </tr>
        <tr>


        {% for item in basket %}
            <tr>
                <td>{{ item.product }}</td>
                <td><input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}"></td>
                <td>{{ item.product.price }}р.</td>
                <td><a href="{% url 'basketapp:remove' item.pk %}"><button class="btn-round" name="{{ item.pk }}">
                удалить
                </button></a>
                </td>

            </tr>

        {% endfor %}
        </tr>
        </table>
        <p>В корзине {{ basket.0.total_quantity }} товаров общей стоимостью
            {{ basket.0.total_cost }} руб</p>

        <a href="{% url 'orderapp:order_create' %}"><button class="btn-round" name="{{ item.pk }}">
                создать заказ
                </button></a>
    </div>

</div>
{% endblock %}