{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="body">
    <hr>
    <h1>{{ title }}</h1>

    <div class="catCont">
        {% for product in products %}
            <div class="catUnit">
                <b>{{ product.name }}</b>
                <img src="{{ product.image.url }}" alt="{{ product.alt }}">
                Цена {{ product.price }}р
                <br>
                {{ product.desc }}
                <br>
                <a href="{{ product.image_href }}">Подробнее</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}