{% extends 'base.html' %}
{% block content %}
<div class="body">
    <hr>
    <h1>{{ title }}</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt mauris turpis.
        Mauris sed velit erat. Vivamus condimentum non nunc id tristique.
        Suspendisse placerat metus id consequat condimentum. In eu risus ex. Sed at nulla varius, congue mauris id,
        congue tellus. Cras libero leo, feugiat vitae diam quis, mattis ultricies nisi.
        Aliquam interdum vestibulum velit, a tempus turpis luctus id. Vivamus convallis aliquet sagittis.
        Duis vitae nulla venenatis, laoreet risus et, porttitor justo. Nulla libero ex, sollicitudin at dictum ac,
        sollicitudin vitae ante. Sed non diam quis tortor imperdiet semper eu sit amet purus. Nunc a faucibus odio.
        Duis at laoreet eros. Nunc interdum, mi et lacinia dapibus, sem elit dapibus nulla,
        a consectetur mi lorem quis nulla. Fusce eu accumsan mauris.
    </p>
</div>
{% endblock %}