<div class="headerUnit" id="menu">
    <ul class="main-menu">
        <a href={% url 'main' %}>Главная</a>
        <div class="dropdown">
            <a href={% url 'mainapp:index' page='1'%}>Каталог</a>
{#            <div class="dropdown-content">#}
{#                {% for i in categories %}#}
{#                    {{ i.name }}#}
{#                {% endfor %}#}
{#            </div>#}
        </div>
        <a href={% url 'contacts' %}>Контакты</a>
        {% if user.is_anonymous == True %}
            <a href={% url 'auth:login' %}>Войти</a>
        {% else %}
            <a href={% url 'auth:edit' %}>{{ user }}</a>
            {% if basket.all %}
                (<a href={% url 'basket:view' %}>
                    {{ basket.count }}
                </a>)
            {% endif %}
            <a href={% url 'auth:logout' %}>Выйти</a>
        {% endif %}
    </ul>
</div>


