{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="body">
    <hr>
    <h1>{{ title }}</h1>

    <div class="catCont">
        {% for product in products %}
            <div class="catUnit">
                <b>{{ product.name }}</b>
                <img src="{{ product.image.url }}" alt="{{ product.alt }}">
                Цена {{ product.price }}р
                <br>
                <br>
                <a href="{% url 'mainapp:product' product.pk %}">Подробнее!</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}