{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="body">
    <hr>
    <h1>{{ title }}</h1>

    <div class="catCont">
        {% for product in products %}
            <div class="catUnit">
                <b>{{ product.name }}</b>
                <img src="{{ product.image.url }}" alt="{{ product.alt }}">
                Цена {{ product.price }}р
                <br>
                <br>
                <a href="{% url 'mainapp:product' product.pk %}">Подробнее!</a>
            </div>
        {% endfor %}
    </div>

    <div class="paginator">
          {% if products.has_previous %}
            <a href="{% url 'mainapp:catalog'
                             product.pk products.previous_page_number %}">
              <
            </a>
          {% endif %}
          <span class="current">
            страница {{ products.number }} из
            {{ products.paginator.num_pages }}
          </span>
          {% if products.has_next %}
            <a href="{% url 'mainapp:catalog'
                             product.pk products.next_page_number %}">
              >
            </a>
          {% endif %}
        </div>
      </div>

</div>
{% endblock %}