{% extends 'mainapp/base.html' %}

{% block content %}
    {% for item in object %}
        <div class="body">
            <hr>
            <h1>{{ item.name }}</h1>
            <div class="productCont">

                <a href="{{ item.image.url }}" target="_blank">
                    <img src="{{ item.image.url }}" alt="{{ item.alt }}" class="productImg">
                </a>

                <h2 class="productHeader">Описание товара</h2>
                <p class="productShortDesc">
                    {{ item.desc }}
                </p>
                <a href="{% url 'basket:add' item.pk %}" class="buybutton">Купить за {{ item.price }}р!</a>
            </div>

            <h2 class="productHeader">Характеристики товара</h2>
            <table class="productCharacteristics">
                <tr>
                    <td>Материал</td>
                    <td>сталь 65г, с закалкой 50ед (не является холодным оружием!)</td>
                </tr>
                <tr>
                    <td>Длинна клина</td>
                    <td>от 65 до 75см</td>
                </tr>
                <tr>
                    <td>Длинна рукояти</td>
                    <td>13 см</td>
                </tr>
                <tr>
                    <td>Обмотка ручки</td>
                    <td>Пеньковая веревка</td>
                </tr>
            </table>

            <h2 class="productHeader">Подробное описание товара</h2>
            <p class="productLongDesc">
                {{ item.longdesc }}
            </p>
        </div>

    {% endfor %}

{% endblock %}